.dldh-checkbox {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
}
.dldh-checkbox .dldh-checkbox-content {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
}
.dldh-checkbox .dldh-checkbox-content .dldh-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  -webkit-transition: border-color .1s cubic-bezier(.71,-.46,.29,1.46),background-color .1s cubic-bezier(.71,-.46,.29,1.46);
  transition: border-color .1s cubic-bezier(.71,-.46,.29,1.46),background-color .1s cubic-bezier(.71,-.46,.29,1.46);
}
.dldh-checkbox .dldh-checkbox-content .dldh-checkbox-inner:after {
  -webkit-transform: rotate(45deg) scale(0);
  -ms-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  position: absolute;
  left: 4px;
  top: 1px;
  display: table;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: " ";
  -webkit-transition: all .1s cubic-bezier(.71,-.46,.88,.6);
  transition: all .1s cubic-bezier(.71,-.46,.88,.6);
}
.dldh-checkbox .dldh-checkbox-content .dldh-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.dldh-checkbox .dldh-checkbox-content+span {
  margin-left: 8px;
  margin-right: 8px;
}
.dldh-checkbox .dldh-checkbox-checked .dldh-checkbox-inner {
  border-color: #2db7f5;
  background-color: #2db7f5;
}
.dldh-checkbox .dldh-checkbox-checked .dldh-checkbox-inner:after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  position: absolute;
  left: 4px;
  top: 1px;
  display: table;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: " ";
  -webkit-transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
  transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
}