 .dldh-btn {
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.015);
  box-shadow: 0 2px 0 rgba(0,0,0,0.015);
  cursor: pointer;
  -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  line-height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0,0,0,0.65);
  background-color: #fff;
  border-color: #d9d9d9;
}
.dldh-btn, .dldh-btn:active, .dldh-btn:focus {
  outline: 0;
  text-decoration: none;
}
.dldh-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.dldh-btn-group>.dldh-btn {
  position: relative;
  float: left;
}
.dldh-btn-group>.dldh-btn:first-child {
  margin-left: 0;
}
.dldh-btn-group .dldh-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  padding-left: 8px;
  padding-right: 8px;
}
.dldh-btn-group>.dldh-btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-right: 8px;
}
.dldh-btn-group>.dldh-btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 8px;
}
.dldh-btn+.dldh-btn-group, .dldh-btn-group+.dldh-btn, .dldh-btn-group+.dldh-btn-group, .dldh-btn-group .dldh-btn+.dldh-btn {
  margin-left: -1px;
}