.dldh-input {
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 32px;
  cursor: text;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
}